<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112319398809-ugqnpapkcfknteq919mt60aoadb9seh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112319398809-ugqnpapkcfknteq919mt60aoadb9seh5</string>
	<key>API_KEY</key>
	<string>AIzaSyDSS7hxFH3roKBX9ix5A5OdPWX9b_iLImQ</string>
	<key>GCM_SENDER_ID</key>
	<string>112319398809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nus.CS3217.SailingThrougHistory</string>
	<key>PROJECT_ID</key>
	<string>sailingthroughhistory-da5e4</string>
	<key>STORAGE_BUCKET</key>
	<string>sailingthroughhistory-da5e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112319398809:ios:dab58618dd8e521a</string>
	<key>DATABASE_URL</key>
	<string>https://sailingthroughhistory-da5e4.firebaseio.com</string>
</dict>
</plist>